/* Custom CSS Styles */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-size: 14px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

.navbar-brand {
    padding: 0px !important;
    margin: 0px !important;
}

/* Navigation Bar */
.bg-platinum {
    background-color: #003466;
}

main {
    margin-top: 80px !important;
}

.login-text {
    max-width: 400px !important;
}

.center-element {
    margin: auto !important;
}

.login-form-customer {
    margin-bottom: 20px !important;
}